<div class = "container question">
<p><%= @question %></p>
<p>&nbsp;&nbsp;—You</p><br>
</div>
<div class = "container answer">
<p><%= @answer %></p>
<p>&nbsp;&nbsp;—Your coach</p><br>
</div>
<%= link_to "Ask a new question", ask_path %>
