<div class = "container asking">
<p>Ask your coach anything:</p>
</div>
<div class = "container form">
<form action="/answer">
  <input type="text" class="form-text" name="question">
  <input type="submit" class="btn" value="Ask">
</form>
</div>